
@import "variables", "mixins";

@font-face {
    font-family: Semibold; /* Имя шрифта */
    src: url(../fonts/semibold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Light; /* Имя шрифта */
    src: url(../fonts/light.ttf); /* Путь к файлу со шрифтом */
}



* {
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

header{
	display: flex;
	background-color: #000000;
	color: #ffffff;

	.logo{
		@include logo(
			$font: ("Open Sans Extrabold", arial),
			$marginLeft: 12.06%,
			$marginTop: 57px
		);
	}

	nav{
		width: 100%;
	}

	.main-menu{
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		margin-left: 29.26%;
		margin-top: 57px;
		margin-right: 8.8%;
		position: relative;

		.icon{
			display: none;
		}
		@include items($items: $mainMenu_items);

		@for $i from 0 to 100{
			@media screen and (max-width: 1240px - $i){
				margin-left: (29.26% - ($i * 2 / 15));
			}
		}
	} 
}


main{
	display: flex;
	flex-direction: column;
	width: 100%;

	.main-welcome{
		text-align: center;
		padding: 210px 0 400px 0;
		background: #000000;

		p{
			color: #999999;
			font-family: "Open Sans", sans-serif;
			font-size: 20px;
			font-weight: 400;
			.mycompany-bold-text{
				font-weight: 700;
				color: #beb8c3;
			}
		}

		h1{
			color: #999999;
			font-family: "Open Sans";
			font-size: 44px;
			font-weight: 300;
			text-transform: uppercase;
			span{
				color: #fcac45;
				font-weight: 700;
				letter-spacing: -2.2px;
			}
		}
	}

	.main-about >.wrapper{
			margin-left: 5%;
			margin-right: 5%;
			display: flex;
			padding: 100px 0 100px 0;

			.about-right{
				margin-left: 140px;
			}

			.about-right h1{
				
				color: #222222;
				font-family: "Open Sans", sans-serif;
				font-size: 34px;
				font-weight: 400;
				line-height: 37.3px;
				text-transform: uppercase;
				padding-bottom: 20px;
				border-bottom: 4px solid #fcac45;
				display: inline-block;
				.about-us{
					font-weight: 700;
				}
			}

			.about-right p{
				color: #6c6c6c;
				font-family: "Open Sans";
				font-size: 18px;
				font-weight: 400;
				line-height: 25px;
				padding-top: 31px;
			}

			.about-right ul{

				padding-top: 45px;

				line-height: 16px;

				li{
					color: #5a5a5a;
					font-family: "Open Sans";
					font-size: 16px;
					font-style: italic;
					line-height: 25px;
					background: url(../img/mark.png) 0px no-repeat;
					padding-left: 25px;
					margin-top: 10px;
					.li_bold{
						font-weight: 700;
					}
				}
			}
	}

	.main-team > .wrapper {
			background: #000;
			color: #ffffff;
			text-align: center;
			padding: 100px 0 167px 0;
			h1{
				font-family: Semibold;
				font-size: 44px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
				padding-bottom: 30px;
			}

			.line{
				@include line();
				margin-bottom: 105px;
			}

			.team-cards{
				display: flex;
				justify-content: space-around;
				text-align: center;
				.card > .photo{
					width: 125px;
					height: 125px;
					margin: auto;
					margin-bottom: 22px;
					border-radius: 50%;
					background: #c7bdbd;
				}
				.card > .name{
					color: #ffffff;
					font-family: "Open Sans";
					font-size: 20px;
					font-weight: 700;
					line-height: 24px;
				}

				.card > .position{
					font-family: "Open Sans";
					font-size: 16px;
					font-weight: 400;
				}

				.card > .about-position{
					width: 247px;
					height: 59px;
					color: #ffffff;
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					line-height: 24px;
					margin-top: 35px;
				}
			}
		}

	.main-services > .wrapper{
		background: #ffffff;
		padding: 100px 188px;
		text-align: center;
		h1{
			color: #222222;
			font-family: Semibold;
			font-size: 44px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
		}
		.line{
			@include line();
			margin-top: 30px;
			margin-bottom: 55px;
		}

		>p{
			color: #6c6c6c;
			font-family: "Open Sans";
			font-size: 16px;
			font-style: italic;
			line-height: 24px;
		}
		.services_cards{
			display: flex;
			margin-top: 82px;

			.services_card{
				padding: 20px;
				h4{
					padding-top: 29px;
					padding-bottom: 20px;
					color: #222222;
					font-family: Semibold;
					font-size: 25px;
					font-weight: 400;
					line-height: 24px;
					text-transform: uppercase;
					}
				p{
					color: #222222;
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					line-height: 21px;
				}
			}
		}
	}

	.main-clients > .wrapper{
		padding: 101px 0 211px 0;
		background: #000;
		text-align: center;
		color: #fff;
		h1{
			font-size: 44px;
			line-height: 24px;
			text-transform: uppercase;
			font-family: "Open Sans";
			font-weight: 300;
			span{
				font-family: Semibold;
				font-weight: 600;
			}
		}

		.line{
			@include line();
			margin-top: 30px;
			margin-bottom: 112px;
		}

		.clients{
			width: 100%;
			.client {
				margin-right: 32px;

				&:nth-child(5n){
					margin-right: 0;
				}
			}
		}
	}

	.main-testimonials > .wrapper{
		padding: 101px 0 173px;
		text-align: center;
		background: #000;
		color: #fff;
		h1{
			font-size: 44px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
			.first{
				font-family: Semibold;
				font-weight: 600;
			}
			.second{
				font-family: "Open Sans";
				font-weight: 300;
			}
		}

		.line{
			@include line();
			margin-top: 30px;
			margin-bottom: 118px;
		}

		p{
			width: 62%;
			margin: auto;
			color: #e7e7e7;
			font-family: Semibold;
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
		}

		.testimonials_author {

			margin-top: 49px;
			color: #b2b2b2;
			font-family: "Open Sans";
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;

			span{
				font-family: Light;
				font-weight: 300;
			}
		}
	}

	.main-portfolio > .wrapper{
		padding: 100px 0 100px;
		text-align: center;
		color: #000;
		h1{
			height: 31px;
			color: #222222;
			font-family: Light;
			font-size: 44px;
			font-weight: 300;
			line-height: 24px;
			text-transform: uppercase;
			span{
				font-family: Semibold;
				font-weight: 400;
			}
		}

		.line{
			@include line();
			margin-top: 30px;
			margin-bottom: 56px;
		}

		p{
			width: 75%;
			margin: auto;
			color: #6c6c6c;
			font-family: "Open Sans";
			font-size: 16px;
			font-style: italic;
			line-height: 24px;
			margin-bottom: 175px;
		}

		.works > .works_line > img:hover{
			opacity: 0.9;
		}
	}

	.main-contact > .wrapper {
		text-align: center;
		padding: 100px 0 194px;
		>h1{
			color: #222222;
			font-family: Semibold;
			font-size: 44px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
		}
		.line{
			@include line();
			margin-top: 30px;
			margin-bottom: 56px;
		}

		>p{
			width: 705px;
			margin: auto;
			margin-bottom: 95px;
			color: #6c6c6c;
			font-family: "Open Sans";
			font-size: 16px;
			font-style: italic;
			line-height: 24px;
		}
		.contact_form{
			width: 751px;
			margin: 0 auto;
			p{
				text-align: left;
				color: #636363;
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
			}
			span{
				color: #db0000;
			}


			form > .form_inputs{
				display: flex;
				margin-bottom: 31px;
				input:first-of-type{
					margin-right: 30px;
				}
				input{
					opacity: 0.8;
					padding: 5px;
					width: 360px;
					height: 40px;
					font-size: 20px;
					border: 1px solid rgba(0, 0, 0, 0.4);
					background-color: #ffffff;
				}
			}

			textarea{
				padding: 10px;
				opacity: 0.8;
				width: 751px;
				height: 163px;
				font-size: 20px;
				border: 1px solid rgba(0, 0, 0, 0.4);
				background-color: #ffffff;
			}

			input[type="submit"]{
				margin-top: 32px;
				border: 0;
				float: right;
				width: 165px;
				height: 40px;
				background-color: #fcac45;

				color: #ffffff;
				font-family: Semibold;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
			}
		}
	}
 }


footer {
	width: 100%;
	height: auto;
	background-color: #222222;
	padding: 30px 0 30px;
	.socialnetworks{
		display: flex;
		justify-content: center;
		img{
			margin-left: 12px;

			&:hover{
				opacity: 0.9;
			}
		}
	}
}
























@media screen and (max-width: 1060px){
	.main-menu{
		a{
			display: none;
		}	

		a.icon{
			float: right;
			display: block;
			color: #ffffff;
			font-size: 25px;
			margin-right: -20px;
			margin-top: -5px;
			cursor: pointer;
		}
	}	
	header .main-menu.opened{
		height: 250px;
	}

	.main-menu.opened{
		position: relative;
		top: 50px;
		left: -200px;

		a.icon{
			position: absolute;
			top: -50px;
			right: -220px;
		}

		a{
			float: none;
			display: block;
			text-align: left;
			margin-right: 0;
		}

	}	

	main {
		.main-welcome{
			h1{
				font-size: 40px;
			}
			p{
				font-size: 8px;
			}
		}
		.main-about{
			.wrapper{
				flex-direction: column;
				text-align: center;
				.about-left{
					img{
						width: 80%;
					}
				}
				.about-right{
					margin-left: 0;
					margin-top: 10px;
					h1{
						width: 70%;
						font-size: 50px;
						border-bottom: 2px solid #fcac45;
						padding-bottom: 15px;
					}
					p{
						font-size: 14px;
					}
					ul{
						li{
							background: 0;
							font-size: 12px;
						}
					}
				}
			}
		}

		.main-team{
			.wrapper{
				.team-cards{
					flex-direction: column;
					.card{
						margin-bottom: 30px;
						.position, .about-position{
							margin: auto;
						}
					}
				}

			}
		}
		.main-services > .wrapper > .services_cards{
			flex-direction: column;
		}

		.main-portfolio > .wrapper{
			.works{
				.works_line > img:not(:first-child){
					display: none;
				}
			}
		}
		.main-contact > .wrapper > .contact_form > form{
			
		}

	}
}